---
import type { BlogPost } from "../lib/contentful";

interface Props extends BlogPost {
  thumbnailUrl: string;
}

const {
  href,
  title,
  description,
  content,
  thumbnailUrl,
  tags,
  readingDuration,
} = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img
    class="h-64 w-full object-cover"
    src={thumbnailUrl}
    alt="Sunset in the mountains"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-4">{title}</div>
    <p class="text-gray-700 text-base">
      {description}
    </p>
  </div>
  <div class="px-6 py-3 flex align-middle">
    <span class="material-symbols-rounded"> schedule</span>
    <span class="pl-2">{readingDuration} minutes of reading</span>
  </div>
  <div class="px-6 pt-4 pb-4">
    {
      tags.map((tag) => (
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
          #{tag}
        </span>
      ))
    }
  </div>
</div>
